[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/fruit"]
	path = contrib/fruit
	url = https://github.com/google/fruit.git
